@font-face {
    font-family: 'Indie Flower';
    src: url('../fonts/IndieFlower.woff') format('woff'), /* Modern Browsers */
         url('../fonts/IndieFlower.ttf')  format('truetype'); /* Safari, Android, iOS */
}
* {
    margin: 0;
    padding: 0;
}
html {
    height: 100%;
}
::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}
body {
    font-family: 'Indie Flower', Fallback, sans-serif;
    background-color: #295354;
    height: 100%;
    text-align: center;
}
#container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}
#containerText {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 5px;
    overflow-y: scroll;
}
#containerPlus {
    display: flex;
    flex-direction: row;
    justify-content: center;
}
#texte {
    font-size: large;
    font-weight: 600;
}
#plus {
    border: none;
    background-color: transparent;
}
#plusImg {
    fill: #7ec1c4;
}
.mydiv {
    background-color: #7ec1c4;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    width: 45%;
    box-shadow: 3px 3px #888888;
}
.btnDel {
    border: none;
    background-color: transparent;
}
.delImg {
    fill: #3e6e70;
}